@media(min-width: 768px){
    .header .nav{
        display: block!important;
    }
    .bestieSatu{
        display: flex;
        justify-content: center;
        /* flex-direction: column; */
    }
    .map{
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
        margin-top: 150px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .map iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
    .margin-top{
        margin-top: 10px;
    }
    
}
@media(max-width: 991px){
    .gallery-section .gallery-item,
    .people-section .people-item,
    .event-section .event-item{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .bestieSatu{
        display: flex;
        justify-content: center;
        /* flex-direction: column; */
    }
    .map{
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
        margin-top: 150px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .map iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
    .margin-top{
        margin-top: 10px;
    }
}
@media(max-width: 767px){
    /* header{
        position: absolute;
        right: 15px ;
        top: 25px;
    }
    nav{
        display: flex;
        flex-direction: column;
    }
    input{
        width: 25px;
        height: 25px;
        appearance: none;
        -webkit-appearance: none;
        cursor: pointer;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.116);
        text-align: center;
        border-radius: 5px;
        color: rgb(41, 41, 41);
    }
    input::before{
        content: '\f0c9';
        font-weight: 700;
        font-size: 1.8en;
        z-index: 10;
        color: white;
    }
    input:checked::before{
        content: '\f009';
        animation: anim ls;
    }
    @keyframes anim{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    input::after{
        content: '';
        position: absolute;
        top: -15%;
        left: -20%;
        width: 140%;
        height: 120%;
        background: rgba(0,0,0,0.116);
        border-radius: 5px;
        z-index: 1;
    }
    nav{
        position: absolute;
        margin-top: 10px;
    }
    nav a{
        transform: translate(10px);
        text-align: center;
        padding: 5px 20px;
        background: rgb(42, 42, 42);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.103);
        border-radius: 5px;
        text-decoration: none;
        color: white;
        margin: 3px 0;
        transition: transform calc(var(--i) * 0.2s);
    }
    input:checked ~ nav a{
        transform: translate(-80px);
    }
    nav a:hover{
        background: #DD4A48;
        box-shadow: 0 0 15px #DD4b48b7;
    }
     */
     .map{
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
        margin-top: 150px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .map iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
    .header .logo{
        padding: 8px 15px;
    }
    .header .hamburger-btn{
        display: flex;
        margin-right: 15px;
    }
    .header .nav{
        flex: 0 0 100%;
        max-width: 100%;
        background-color: #ffffff;
        display: none;
    }
    .header.fixed .nav{
        border-top: 1px solid #cccccc;
    }
    .header .nav ul li{
        display: block;
        margin-left: 0;
    }
    .header .nav ul li a{
        color: #555555;
        padding: 10px 0;
    }
    .home-section .home-content h1{
        font-size: 60px;
    }
    .mempelai-section .mempelai{
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 15px;
    }
    .mempelai-section .mempelai:nth-child(2){
        margin-top: 50px;
    }
    .mempelai-section .mempelai:nth-child(2)::before{
        content: none;
    }
    .mempelai-section .mempelai i.fa-heart{
        display: none;
    }
    .story-section .story-img{
        margin-top: 20px;
    }
    .story-section .story-content::before{
        left: 20px;
    }
    .story-section .story-item i{
        margin-left: 0px;
        left: 5px;
    }
    .event-section .event-item:nth-child(2){
        transform: translateY(0);
    }
    .event-section .event-item,
    .story-section .story-text, .story-section .story-img{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .story-section .story-item:nth-child(odd) .story-text{
        padding: 0 15px 0 50px;
        text-align: left;
    }
    .story-section .story-item:nth-child(even) .story-img{
        padding: 0 15px 0 50px;
        text-align: left;
    }
    .story-section .story-item:nth-child(even) .story-text,
    .story-section .story-item:nth-child(odd) .story-img{
        padding: 0 15px 0 50px;
    }
    .margin-tops{
        margin-top: 0;
    }
}

@media(max-width: 574px){
    .bestieSatu{
        flex-direction: row;
    }
    .rsvp-section .form{
        padding: 40px 0px;
    }
    .home-section .home-content h1{
        font-size: 40px;
    }
    .rsvp-section .form .input-group.w50,
    .gallery-section .gallery-item,
    .people-section .people-item{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .footer .footer-content .couple-name{
        width: 290px;
        height: 290px;
    }
    .footer .footer-content p,
    .footer .footer-content .couple-name h2{
        font-size: 32px;
    }
    .margin-top{
        margin-top: 10px;
    }
    .load
    {
        display: flex;
        justify-content: center;
    }
}
